body {
	margin: 0;
}

header {
	width: 100%;
	height: 40px;
	background-color: red;
}

header:hover {
	background-color: purple;
}

#manue {
	height:20px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: black;
}

#manue:hover {
	background-color: white;
}

#main  {
	margin: 0 auto;
	width: 600px;
	height: 1000px;
	background-color: blue;
	overflow: hidden;
}

#squares {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-left: -10px;
	margin-top: 20px;
}

.square {
	width: 80px;
	height: 80px;
	background-color: yellow;
	margin-left: 10px;
}

.square:hover {
	background-color: orange;
}

footer {
	width: 100%;
	height: 80px;
	background-color: green;
}